.ilcb-root {
  display: flex;
  flex-direction: row;
  margin: 0 auto;

  width: 90%;
  height: 90%;

  justify-content: space-evenly;
  align-content: stretch;
}

.ilcb-item {
  cursor: pointer;
  border: 3px solid black;

  height: 90%;
  width: 90%;
  display: flex;
  margin: 0 1px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-family: "RocknRoll One";

  transition: all 0.2s ease-out;
}
.ilcb-item:hover {
  transform: rotate(0.01turn) scale(1.1);
  background: rgb(34, 186, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 186, 195, 1) 0%,
    rgba(238, 253, 45, 1) 100%
  );
}

.ilcb-selected {
  background: rgb(34, 186, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 186, 195, 1) 0%,
    rgba(238, 253, 45, 1) 100%
  );
  transform: rotate(-0.01turn) scale(0.9);
}
